body {
  font-family: Arial, sans-serif;
}

h1 {
  background-image: url(../images/logo.PNG);
  background-repeat: no-repeat;
  text-align: center;
  color: #666;
  font-size: 50px;
  height: 100px;
  margin: 0 auto;
  padding: 30px 0;
}

nav {
  /*float: none;*/
  width: auto;
  
}

nav ul{
  text-align: center;
}

nav ul li {
  display: inline;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.75em;
  padding-left: 0.75em;
}

nav ul li a {
  text-decoration: none;
}


footer {
  text-align: center;
  font-size: 14px;
}